# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/

# OS files
.DS_Store

# Log files
*.log

# Python cache
*.pyc

# IDE files
.idea/
.vscode/

# Environment variables
.env
